spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/tasks}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:1234}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect